@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -120%;
  transition: opacity 0.3s ease 0s;
}
body._lock {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  background: url("../img/main/bg.jpg") 0 0/cover no-repeat;
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 42, 42, 0.81);
  transition: all 0.3s ease 1s;
  z-index: 2;
}
.wrapper._visible {
  display: flex;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
.wrapper._bg::before {
  top: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  padding: 0 0.3125rem;
}

.preloader {
  background: url("../img/main/bg.jpg") 0 0/cover no-repeat;
  width: 100%;
  min-height: 100%;
  transition: opacity 0.5s ease 0s;
}
.preloader._hide {
  position: absolute;
  top: -150%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.acces-preloader {
  padding: 1.25rem 1.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.375rem;
}
.acces-preloader__button {
  position: relative;
}
.acces-preloader__button:active {
  transform: translateY(2px);
}
.acces-preloader__button img {
  width: 12.875rem;
}
.acces-preloader__button-text {
  position: absolute;
  top: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  color: #ffffff;
  text-shadow: 0px 3.35135px 3.35135px rgba(0, 0, 0, 0.25);
}

.text-pre {
  line-height: 0.9375rem;
  font-weight: 500;
  font-size: 0.75rem;
  color: #fff0bc;
}
.text-pre_list {
  padding-left: 0.375rem;
  position: relative;
}
.text-pre_list::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff0bc;
}

.header {
  position: relative;
  z-index: 1;
  padding: 0 0.625rem;
}
.header__row {
  display: grid;
  grid-template-columns: 3.4375rem 1fr 3.4375rem;
  gap: 1rem;
  padding-top: 1.625rem;
}
.header__back {
  justify-self: center;
}
.header__back._hide {
  display: none;
}
.header__back._not-visible {
  opacity: 0;
  visibility: hidden;
}
.header__wheel {
  justify-self: center;
}
.header__wheel._hide {
  display: none;
}
.header__points {
  display: flex;
  position: relative;
}
.header__gold {
  position: absolute;
  top: -4px;
  left: -8px;
}
.header__gold._jump {
  animation: jump 0.6s ease;
}
.header__gold img {
  width: 3.75rem;
}
.header__block-text {
  background: #512418;
  border-radius: 26.5px;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__block-text._anim p {
  animation: move-points 1s ease;
}
.header__block-text._anim-size p {
  animation: move-points-size 0.6s ease;
}
.header__block-text p {
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
}
.header__shop {
  justify-self: center;
}
.header__home {
  align-self: center;
}

.content {
  min-height: calc(100vh - 4.625rem);
}
.content__box {
  padding-bottom: 4.6875rem;
}
.content__images {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.content__images > img {
  max-width: 15.625rem;
}
.content__image {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.content__text {
  width: 14.4375rem;
  height: 3.625rem;
  background: #512418;
  box-shadow: 0px 4px 0px rgba(155, 88, 60, 0.28);
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.content__text p {
  font-weight: 500;
  line-height: 1.1875rem;
  color: #ffffff;
}
.content__body {
  margin-top: 1.25rem;
  min-width: 0;
  margin-bottom: 2.5rem;
}
.content__slider {
  width: 100%;
  height: 100%;
}
.content__wrapper {
  align-items: center;
}
.content__slide {
  transform: scale(0.7) !important;
  transition: all 0.3s ease 0s;
}
.content__knife {
  position: relative;
}
.content__knife img {
  width: 8.125rem;
}
.content__knife img._lock {
  opacity: 0.5;
}
.content__knife._lock::before {
  content: "";
  background: url("../img/icons/lock.svg") center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%) rotate(67deg);
  z-index: 1;
}
.content__knife_one {
  transform: rotate(-70deg);
}
.content__knife_three {
  transform: rotate(-65deg);
}
.content__knife_three img {
  width: 8.75rem;
}
.content__knife_four {
  transform: rotate(-50deg);
}
.content__knife_four img {
  max-width: 5.625rem;
}
.content__knife_four._lock::before {
  transform: translate(-50%, -50%) rotate(50deg);
}
.content__button {
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.content__button:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.content__button:active {
  transform: translateY(3px);
}
.content__button_back {
  display: none;
}
.content__button_back img {
  width: 246px;
}
.content__button_back._visible {
  display: block;
}
.content__button-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content__button-text_again {
  text-transform: none;
  white-space: nowrap;
}

.swiper-slide-active {
  transform: scale(1.2) !important;
}

.shop__box {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}
.shop__text {
  padding-bottom: 1.25rem;
}
.shop__row {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 0.625rem;
}
.shop__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__item._buy .shop__button_green {
  display: none;
}
.shop__item._buy .shop__button._hide {
  display: block;
}
.shop__top {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-bottom: 0.5rem;
}
.shop__top img {
  max-width: 1.5625rem;
}
.shop__sub-text {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #ffffff;
}
.shop__image-box {
  width: 9.875rem;
  height: 9.875rem;
  background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ff9900 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.625rem;
}
.shop__button {
  position: relative;
  display: block;
}
.shop__button:active {
  transform: translateY(2px);
}
.shop__button img {
  max-width: 8.75rem;
}
.shop__button_gray {
  pointer-events: none;
}
.shop__button._hide {
  display: none;
}
.shop__buy {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #ffffff;
  text-shadow: 0px 2.27642px 2.27642px rgba(0, 0, 0, 0.25);
}

.text {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 4.125rem;
  background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_pre {
  font-size: 45px;
}

.game__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.875rem;
}
.game__title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.9375rem;
  color: #ffffff;
  margin-bottom: 0.625rem;
}
.game__bullets {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.9375rem;
}
.game__bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: #fff;
  border-radius: 50%;
}
.game__bullet._active {
  background: #ffd953;
}
.item-game__circle {
  position: relative;
}
.item-game__circle-hiden-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.item-game__wheel {
  margin-bottom: 4.6875rem;
  position: relative;
}
.item-game__arrow {
  position: absolute;
  bottom: 3.125rem;
  left: 5.625rem;
  opacity: 0;
}
.item-game__arrow-bonus {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid red;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.item-game__pin {
  position: absolute;
  bottom: -10rem;
  left: 8.4375rem;
  opacity: 0;
}
.item-game__pin._visible {
  opacity: 1;
  bottom: -1.9375rem;
  left: 3.875rem;
  transition: all 0.4s ease 0.8s;
}
.item-game__pin img {
  max-width: 3.125rem;
}
.item-game__pin_one {
  transform: rotate(28deg);
}
.item-game__pin_two {
  transform: rotate(-20deg);
}
.item-game__pin_two._visible {
  left: 4.5rem;
  bottom: -2.8125rem;
}
.item-game__pin_two img {
  max-width: 2.5rem;
}
.item-game__pin_three {
  transform: rotate(-40deg);
}
.item-game__pin_three._visible {
  left: 4.1875rem;
  bottom: -1.5rem;
}
.item-game__pin_four {
  transform: rotate(-35deg);
}
.item-game__pin_four._visible {
  left: 4.1875rem;
  bottom: -1.9375rem;
}
.item-game__knifes {
  position: relative;
  margin-bottom: 2.5rem;
}
.item-game__knife {
  text-align: center;
}
.item-game__knife._hide {
  display: none;
}
.item-game__knife_one {
  transform: rotate(27deg);
}
.item-game__knife_two {
  transform: rotate(-21deg);
}
.item-game__knife_two img {
  width: 5.125rem;
}
.item-game__knife_three {
  transform: rotate(-41deg);
}
.item-game__knife_three img {
  width: 7.875rem;
}
.item-game__knife_four {
  transform: rotate(-35deg);
}
.item-game__knife_four img {
  width: 7.875rem;
}
.item-game__min-knifes {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -0.625rem;
  left: 0;
}
.item-game__min-knife._hide {
  opacity: 0;
  visibility: hidden;
}
.gold-peace-8,
.count-peace-8,
.gold-peace-11,
.count-peace-11,
.gold-peace-12,
.count-peace-12,
.gold-peace-3,
.count-peace-3,
.knife-peace-7,
.gold-peace-2,
.count-peace-2,
.gold-peace-4,
.count-peace-4,
.gold-peace-9,
.count-peace-9,
.gold-peace-10,
.count-peace-10 {
  opacity: 0;
}
.gold-peace-8._visible,
.count-peace-8._visible,
.gold-peace-11._visible,
.count-peace-11._visible,
.gold-peace-12._visible,
.count-peace-12._visible,
.gold-peace-3._visible,
.count-peace-3._visible,
.knife-peace-7._visible,
.gold-peace-2._visible,
.count-peace-2._visible,
.gold-peace-4._visible,
.count-peace-4._visible,
.gold-peace-9._visible,
.count-peace-9._visible,
.gold-peace-10._visible,
.count-peace-10._visible {
  opacity: 1;
}

.bonus-game__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.1875rem;
}
@media (max-width: 23.75em) {
  .bonus-game__box {
    margin-top: 3.75rem;
  }
}
.bonus-game__button {
  display: block;
  text-align: center;
  position: relative;
  margin-top: 6.25rem;
}
.bonus-game__button:active {
  transform: translateY(3px);
}
.bonus-game__button-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-bonus-game__wheel {
  position: relative;
}
.item-bonus-game__circle {
  position: relative;
}
.item-bonus-game__arrow-pin {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.item-bonus-game__arrow-marker {
  position: absolute;
  top: 70px;
  left: 50%;
  width: 1px;
  height: 1px;
  transform: translateX(-50%);
  opacity: 0;
}

.play-again {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -150%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  padding-top: 1.875rem;
  transition: all 0.3s ease 1s;
}
.play-again._visible {
  top: 0;
}
.play-again__line {
  position: relative;
  margin-bottom: 0.9375rem;
}
.play-again__count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 5.8125rem;
  line-height: 6.875rem;
  color: #ffffff;
}
.play-again__gold-points {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}
.play-again__gold img {
  max-width: 2.375rem;
  transform: rotate(-20deg);
}
.play-again__gold-count {
  font-weight: 700;
  font-size: 2.1875rem;
  line-height: 2.5625rem;
  color: #ffffff;
}

@keyframes move-points {
  0% {
    color: red;
  }
  20% {
    transform: rotate(-0.01deg);
    color: red;
  }
  35% {
    transform: rotate(10deg);
    color: red;
    font-size: 1.25rem;
  }
  45% {
    transform: rotate(-10deg);
    color: red;
    font-size: 1.25rem;
  }
  55% {
    transform: rotate(10deg);
    color: red;
    font-size: 1.25rem;
  }
  65% {
    transform: rotate(0deg);
    color: red;
    font-size: 1.25rem;
  }
  100% {
    color: red;
    font-size: 1rem;
  }
}
@keyframes move-points-size {
  0% {
    color: yellow;
  }
  20% {
    color: yellow;
    font-size: 1.25rem;
  }
  35% {
    color: yellow;
    font-size: 1.375rem;
  }
  45% {
    color: yellow;
    font-size: 1.5rem;
  }
  55% {
    color: yellow;
    font-size: 1.375rem;
  }
  70% {
    color: yellow;
    font-size: 1.25rem;
  }
  100% {
    color: yellow;
    font-size: 1.125rem;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px) rotate(5deg);
  }
  30% {
    transform: translateY(-12px) rotate(-5deg);
  }
  40% {
    transform: translateY(-12px) rotate(5deg);
  }
  50% {
    transform: translateY(-12px) rotate(-5deg);
  }
  100% {
    transform: translateY(0);
  }
}
.swiper {
  overflow: initial;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
